@import "src/scss/variables";

:host {
  .overlay-dropdown {
    padding: 20px 15px;
    background: #fff;

    .checkbox {
      margin-top: 15px;

      label {
        &:before {
          border: 2px solid #DDE0E1;
        }
      }
    }

    .input {
      display: flex;
      border-bottom: 1px solid #9A9A9A;

      input {
        border: 0;
        font-size: 13px;
        width: 100%;
        margin-left: 5px;
      }
    }

    [dir=rtl] & {
      right: auto;
      left: 25px;
    }
  }

  //   checkbox
  .checkbox {
    position: relative;

    label {
      margin-bottom: 0;
      cursor: pointer;
      margin-left: 40px;
      margin-top: 5px;

      [dir=rtl] & {
        margin-left: 0;
        margin-right: 40px;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 24px;
        height: 24px;
        transition: transform 0.28s ease;
        background-color: $white;

        [dir=rtl] & {
          left: auto;
          right: 0;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 14px;
        height: 9px;
        border-bottom: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
        transform: rotate(-45deg) scale(0);
        transition: transform ease 0.25s;
        position: absolute;
        top: 8px;
        left: 9px;

        [dir=rtl] & {
          left: auto;
          right: 9px;
        }
      }
    }

    input[type="checkbox"] {
      width: auto;
      opacity: 0.00000001;
      position: absolute;
      left: 0;
      margin-left: -20px;

      [dir=rtl] & {
        left: auto;
        right: 0;
      }

      &:checked~label {
        &:before {
          background-color: $coral;
          border: 2px solid $coral;
        }

        &:after {
          transform: rotate(-45deg) scale(1);
        }
      }

      &:focus+label::before {
        outline: 0;
      }
    }
  }
}

:host ::ng-deep {
  .mat-dialog-container {
    padding: 0 !important;
  }
}

.mat-dialog-container {
  padding: 0 !important;
}
