<div class="popup-container">
  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-18 font-weight-medium text-color-onyx mb-0">Statistics - Sectors in Quarter4</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)" />
      </svg>
    </button>
  </div>
  <div class="wrapper">
    <highcharts-chart [Highcharts]="Highcharts" [options]="StatisticsChart"></highcharts-chart>
  </div>
  <mat-dialog-actions align="center" class="row-margin">
    <button class="button-secondary font-weight-500 font-17">
      <span>Close</span>
    </button>
    <button class="button-primary font-weight-500 font-17">
      <span>Export</span>
    </button>

  </mat-dialog-actions>
</div>
