<div class="popup-container">
  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Add new row</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)" />
      </svg>
    </button>
  </div>
  <div class="wrapper">
    <div class="row row-margin">
      <div class="col-12 col-md-6 col-margin">
        <span class="font-14 mb-1 font-weight-regular">Indicator</span>
        <div class="gray-select p-0">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-medium w-100" floatLabel="never">
              <span matSuffix class="d-flex">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </span>
              <mat-select placeholder="Total (fixed) Internet subscriptions ">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-margin">
        <span class="font-14 mb-1 font-weight-regular">Sector</span>
        <div class="gray-select p-0">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-medium w-100" floatLabel="never">
              <span matSuffix class="d-flex">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </span>
              <mat-select placeholder="Sector name">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-12 col-md-6 col-margin">
        <span class="font-14 mb-1 font-weight-regular">Unit</span>
        <div class="gray-select p-0">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-medium w-100" floatLabel="never">
              <span matSuffix class="d-flex">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </span>
              <mat-select placeholder="Unit name">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-margin">
        <span class="font-14 mb-1 font-weight-regular">Frequency</span>
        <div class="gray-select p-0">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-medium w-100" floatLabel="never">
              <span matSuffix class="d-flex">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </span>
              <mat-select placeholder="Monthly">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-12 col-md-6 col-margin">
        <span class="font-14 mb-1 font-weight-regular">October</span>
        <div>
          <div class="input-number position-relative">
            <input mdInput type="number" id="myNumber" />
            <div class="arrows">
              <div class="up">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.828" height="8.414" viewBox="0 0 14.828 8.414">
                  <path id="header_dropdown" d="M8.217,16.722l6-6,6,6" transform="translate(-6.803 -9.722)" fill="none"
                    stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </svg>
              </div>
              <div class="down">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.828" height="8.414" viewBox="0 0 14.828 8.414">
                  <path id="header_dropdown" d="M0,6,6,0l6,6" transform="translate(13.414 7.414) rotate(180)"
                    fill="none" stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </svg>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-6 col-margin">
        <span class="font-14 mb-1 font-weight-regular">November</span>
        <div class="input-number position-relative">
          <input mdInput type="number" id="myNumber" />
          <div class="arrows">
            <div class="up">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.828" height="8.414" viewBox="0 0 14.828 8.414">
                <path id="header_dropdown" d="M8.217,16.722l6-6,6,6" transform="translate(-6.803 -9.722)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              </svg>
            </div>
            <div class="down">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.828" height="8.414" viewBox="0 0 14.828 8.414">
                <path id="header_dropdown" d="M0,6,6,0l6,6" transform="translate(13.414 7.414) rotate(180)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-12 col-md-6 col-margin">
        <span class="font-14 mb-1 font-weight-regular">December (Q4)</span>
        <div>
          <div class="input-number position-relative">
            <input mdInput type="number" id="myNumber" />
            <div class="arrows">
              <div class="up">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.828" height="8.414" viewBox="0 0 14.828 8.414">
                  <path id="header_dropdown" d="M8.217,16.722l6-6,6,6" transform="translate(-6.803 -9.722)" fill="none"
                    stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </svg>
              </div>
              <div class="down">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.828" height="8.414" viewBox="0 0 14.828 8.414">
                  <path id="header_dropdown" d="M0,6,6,0l6,6" transform="translate(13.414 7.414) rotate(180)"
                    fill="none" stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </svg>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="center" class="row-margin">
    <button class="button-secondary font-weight-500 font-17">
      <span>Discard</span>
    </button>
    <button class="button-primary font-weight-500 font-17">
      <span>Add</span>
    </button>

  </mat-dialog-actions>
</div>
