@import "src/scss/variables";

:host {
  .wrapper {
    @media (max-width: 768px) {
      margin-bottom: 35px;
    }
  }

  .gray-select {
    padding: 0;
    margin-top: 5px;

    .select-container {
      background-color: $off-white2;
    }
  }

  .row-margin {
    margin-top: 30px;

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  .col-margin {
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }

  .arrows {
    position: absolute;
    top: 3px;
    right: 12px;

    .up {
      margin-bottom: -9px;
      margin-top: 4px;
      cursor: pointer;
    }

    .down {
      cursor: pointer;
    }
  }

  .input-number {
    input {
      margin-top: 4px;
    }
  }

}

:host ::ng-deep {
  .mat-form-field-infix {
    font-size: 14px;
  }

  .popup-container {
    padding: 24px;
  }

  .mat-form-field .mat-form-field-label {
    color: $dark-gray !important;
    font-weight: 500 !important;
    font-size: 14px !important;
  }

  .mat-dialog-container {
    padding: 30px 20px;
  }

  .mat-dialog-title {
    padding: 0 25px 10px 25px;
    border-bottom: 1px solid #F3F3F1;
    margin: 0 -22px;
  }

  .mat-dialog-actions {
    flex-wrap: nowrap;

    button {
      &:first-of-type {
        @media (min-width: 355.1px) {
          margin-right: 20px;
        }
      }

      @media (max-width: 767.98px) {
        min-width: auto;
        width: 50%;
      }
    }

    @media (max-width: 355px) {
      display: block;

      &>button {
        display: block;
        margin: 10px auto;
      }
    }

    @media (max-width: 768px) {
      margin: 0 25px;
    }
  }
}

input[type=number] {
  width: 100%;
  height: 50px;
  border: 1px solid #D6D6D4;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

}
