@import "src/scss/variables";

:host {
  .head {
    margin: 25px;

    button {
      width: 180px;
    }
  }

  .reports-container {
    max-width: 1333px;
    margin: 0 auto;

    @media (max-width: 768px) {
      margin: 20px;
    }
  }

  //   checkbox
  .checkbox {
    position: relative;

    label {
      margin-bottom: 0;
      cursor: pointer;
      margin-left: 40px;
      margin-top: 5px;

      [dir=rtl] & {
        margin-left: 0;
        margin-right: 40px;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 24px;
        height: 24px;
        transition: transform 0.28s ease;
        background-color: $white;

        [dir=rtl] & {
          left: auto;
          right: 0;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 14px;
        height: 9px;
        border-bottom: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
        transform: rotate(-45deg) scale(0);
        transition: transform ease 0.25s;
        position: absolute;
        top: 8px;
        left: 9px;

        [dir=rtl] & {
          left: auto;
          right: 9px;
        }
      }
    }

    input[type="checkbox"] {
      width: auto;
      opacity: 0.00000001;
      position: absolute;
      left: 0;
      margin-left: -20px;

      [dir=rtl] & {
        left: auto;
        right: 0;
      }

      &:checked~label {
        &:before {
          background-color: $coral;
          border: 2px solid $coral;
        }

        &:after {
          transform: rotate(-45deg) scale(1);
        }
      }

      &:focus+label::before {
        outline: 0;
      }
    }
  }

  .arrow {
    margin-top: 5px;
    margin-left: 10px;

    [dir=rtl] & {
      margin-left: 0;
      margin-right: 10px;

      @media (max-width: 768px) {
        margin-right: 5px;
        ;
      }
    }

    @media (max-width: 768px) {
      margin-left: 5px;
      ;
    }
  }

  ::ng-deep {
    th.mat-header-cell:first-of-type {
      padding-left: 12px;
    }

    td.mat-cell:first-of-type {
      padding-left: 12px;
    }

    .primary-table tbody tr td {
      padding: 10px 15px;
      font-size: 14px;
      white-space: nowrap;
    }

    .primary-table thead tr th {
      padding: 10px;
      font-size: 14px;

      &:last-of-type {
        padding-right: 25px;
      }
    }

    .mat-form-field .mat-form-field-label {
      color: $onyx !important;
      font-weight: 500 !important;
    }

  }

  .table-head-mg {
    margin-bottom: 6px;
  }

  .btns {
    margin: 25px;

    .statistics-btn {
      min-width: 190px;
      margin-right: 20px;

      @media (max-width: 768px) {
        min-width: auto;
        max-width: 50%;
        flex-basis: 50%;
      }
    }

    .export-btn {
      min-width: 150px;

      @media (max-width: 768px) {
        min-width: auto;
        max-width: 50%;
        flex-basis: 50%;
      }
    }

    .disable {
      border: 2px solid #8E9AA0;
      color: #8E9AA0;

      &:hover {
        border: 2px solid #8E9AA0;
        color: #8E9AA0;
      }

      &:after {
        background-color: inherit;
      }
    }
  }

  // .overlay-dropdown {
  //   position: absolute;
  //   top: 56px;
  //   background: $white;
  //   width: 215px;
  //   height: 450px;
  //   right: 25px;
  //   z-index: 2;
  //   padding: 20px;
  //   overflow-x: hidden;
  //   overflow-y: scroll;
  //   box-shadow: -1px 3px 14px rgba(0, 0, 0, 0.1);
  //   opacity: 0;
  //   visibility: hidden;
  //   translate: .3s all ease-in-out;

  //   .checkbox {
  //     margin-top: 15px;

  //     label {
  //       &:before {
  //         border: 2px solid #DDE0E1;
  //       }
  //     }
  //   }

  //   .input {
  //     display: flex;
  //     border-bottom: 1px solid #9A9A9A;

  //     input {
  //       border: 0;
  //       font-size: 13px;
  //       width: 100%;
  //       margin-left: 5px;
  //     }
  //   }

  //   [dir=rtl] & {
  //     right: auto;
  //     left: 25px;
  //   }
  // }

  .indicator-dropdown {
    position: absolute;
    top: 56px;
    background: $white;
    width: 215px;
    height: 350px;
    left: 25px;
    z-index: 2;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: -1px 3px 14px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    translate: .3s all ease-in-out;

    .checkbox {
      margin-top: 20px;

      label {
        color: $onyx;

        &:before {
          border: 2px solid #DDE0E1;
        }
      }
    }

    .input {
      display: flex;
      border-bottom: 1px solid #9A9A9A;

      input {
        border: 0;
        font-size: 13px;
        width: 100%;
        margin-left: 5px;
      }
    }

    [dir=rtl] & {
      left: auto;
      right: 25px;
    }
  }

  .show-dropdown {
    opacity: 1;
    visibility: visible;
  }

  .gray-select {
    padding: 0;
    min-width: 350px;
    margin-left: 25px;
    height: 50px;

    .select-container {
      background-color: $off-white2;
      height: 50px;
    }

    [dir=rtl] & {
      margin-left: 0;
      margin-right: 25px;

      @media (max-width: 768px) {
        margin-right: 0;
      }
    }

    @media (max-width: 768px) {
      min-width: 200px;
      width: 100%;
      margin-left: 0;
    }
  }

  .arrow-overlay {
    position: absolute;
  }
}

.info-wrapper {
  max-width: 215px;
  margin: 0 auto;
  padding: 20px 15px;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 3px;

  &:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    position: absolute;
    content: "";
    bottom: -6px;
    right: 47%;
  }
}

.table-head {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.add-new {
  @media (max-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}

:host ::ng-deep .tr.mat-header-row {
  height: 50px !important;
}

.tr.mat-header-row {
  height: 50px !important;
}


.search {
  box-shadow: -1px 3px 14px rgba(148, 141, 141, 0.1);
  margin-top: 18px;
  margin-bottom: 18px;
}

// table saw 

:host ::ng-deep .tablesaw-swipe .tablesaw-swipe-cellpersist {
  border: 0;

  @media (max-width: 992px) {
    border-right: 2px solid #e4e1de;
  }
}

.tablesaw thead th {
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4F008C;
}

.tablesaw th,
.tablesaw td {
  padding: 12px;
}

tbody {
  background-color: $white;
}

.tablesaw-swipe tbody tr:nth-child(even) {
  background-color: #F4F4F4;
}
