<div class="reports-container mb-5">
  <h1 class="font-35 font-weight-bold text-color-onyx mb-3 mt-3">Reports</h1>
  <div class="bg-color-white">
    <div class="row">
      <div class="col-12">
        <div class="corporate-governance-container">
          <div class="d-block  text-center d-md-flex justify-content-between align-items-center head">
            <div class="d-flex align-items-center mb-4 mb-md-0 table-head">
              <span class="font-14 font-weight-medium w-100 d-flex d-md-block mb-2 mb-md-0">Report</span>
              <div class="gray-select p-0">
                <div class="select-container">
                  <mat-form-field class="font-16-imp font-weight-medium w-100" floatLabel="never">
                    <span matSuffix class="d-flex">
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </span>
                    <mat-select placeholder="Indicatores Report">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="add-new">
              <button class="btn button-primary font-17 font-weight-medium px-4" (click)="addNew()">
                <span (click)="addNew()">Add new row</span>
              </button>

            </div>
          </div>
          <table class="tablesaw position-relative" data-tablesaw-mode="swipe" data-tablesaw-minimap>
            <thead>
              <tr>

                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">
                  <div class="d-flex align-items-center table-head-mg">
                    <div class="checkbox">
                      <input type="checkbox" name="element1" id="checkbox1" value="">
                      <label for="checkbox1" class="font-14"> Indicator </label>
                    </div>
                    <span class="arrow cursor-pointer" (click)="showIndicatorDropdown()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7.125" viewBox="0 0 12.25 7.125">
                        <path id="header_dropdown" d="M8.217,10.722l4.711,4.711,4.711-4.711"
                          transform="translate(-6.803 -9.308)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" />
                      </svg>
                    </span>
                    <div class="indicator-dropdown" [ngClass]="{'show-dropdown': indicatorDropdown}">
                      <div class="input">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="12.048" height="12.048"
                            viewBox="0 0 12.048 12.048">
                            <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(0.6 0.6)">
                              <path id="Path_2797" data-name="Path 2797"
                                d="M13.922,9.211A4.711,4.711,0,1,1,9.211,4.5,4.711,4.711,0,0,1,13.922,9.211Z"
                                transform="translate(-4.5 -4.5)" fill="none" stroke="#9a9a9a" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.2" />
                              <path id="Path_2798" data-name="Path 2798" d="M27.537,27.537l-2.562-2.562"
                                transform="translate(-16.937 -16.937)" fill="none" stroke="#9a9a9a"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" />
                            </g>
                          </svg>
                        </span>
                        <input type="text" placeholder="Search by column name">
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" name="element" id="checkbox100" value="" checked>
                        <label for="checkbox100" class="font-12"> Record Name </label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" name="element" id="checkbox101" value="" checked>
                        <label for="checkbox101" class="font-12"> Record Name </label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" name="element" id="checkbox102" value="" checked>
                        <label for="checkbox102" class="font-12"> Record Name </label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" name="element" id="checkbox103" value="" checked>
                        <label for="checkbox103" class="font-12"> Record Name </label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" name="element" id="checkbox104" value="" checked>
                        <label for="checkbox104" class="font-12"> Record Name </label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" name="element" id="checkbox104" value="" checked>
                        <label for="checkbox104" class="font-12"> Record Name </label>
                      </div>


                    </div>
                  </div>
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  <div class="d-flex align-items-center table-head-mg">
                    <div class="checkbox">
                      <input type="checkbox" name="element" id="checkbox2" value="">
                      <label for="checkbox2" class="font-14"> Rules of Indicator </label>
                    </div>
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7.125" viewBox="0 0 12.25 7.125">
                        <path id="header_dropdown" d="M8.217,10.722l4.711,4.711,4.711-4.711"
                          transform="translate(-6.803 -9.308)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" />
                      </svg>
                    </span>
                  </div>
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  <div class="d-flex align-items-center table-head-mg">
                    <div class="checkbox">
                      <input type="checkbox" name="element" id="checkbox3" value="" checked>
                      <label for="checkbox3" class="font-14"> Sector </label>
                    </div>
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7.125" viewBox="0 0 12.25 7.125">
                        <path id="header_dropdown" d="M8.217,10.722l4.711,4.711,4.711-4.711"
                          transform="translate(-6.803 -9.308)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" />
                      </svg>
                    </span>
                  </div>
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  <div class="d-flex align-items-center table-head-mg">
                    <div class="checkbox">
                      <input type="checkbox" name="element" id="checkbox4" value="">
                      <label for="checkbox4" class="font-14"> Unit </label>
                    </div>
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7.125" viewBox="0 0 12.25 7.125">
                        <path id="header_dropdown" d="M8.217,10.722l4.711,4.711,4.711-4.711"
                          transform="translate(-6.803 -9.308)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" />
                      </svg>
                    </span>
                  </div>
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  <div class="d-flex align-items-center table-head-mg">
                    <div class="checkbox">
                      <input type="checkbox" name="element" id="checkbox5" value="">
                      <label for="checkbox5" class="font-14"> Frequency </label>
                    </div>
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7.125" viewBox="0 0 12.25 7.125">
                        <path id="header_dropdown" d="M8.217,10.722l4.711,4.711,4.711-4.711"
                          transform="translate(-6.803 -9.308)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" />
                      </svg>
                    </span>
                  </div>
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  <div class="d-flex align-items-center table-head-mg">
                    <div class="checkbox">
                      <input type="checkbox" name="element" id="checkbox6" value="">
                      <label for="checkbox6" class="font-14"> Nov </label>
                    </div>
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7.125" viewBox="0 0 12.25 7.125">
                        <path id="header_dropdown" d="M8.217,10.722l4.711,4.711,4.711-4.711"
                          transform="translate(-6.803 -9.308)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" />
                      </svg>
                    </span>
                  </div>
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  <div class="d-flex align-items-center table-head-mg">
                    <div class="checkbox">
                      <input type="checkbox" name="element" id="checkbox7" value="">
                      <label for="checkbox7" class="font-14"> Dec </label>
                    </div>
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7.125" viewBox="0 0 12.25 7.125">
                        <path id="header_dropdown" d="M8.217,10.722l4.711,4.711,4.711-4.711"
                          transform="translate(-6.803 -9.308)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" />
                      </svg>
                    </span>
                  </div>
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  Actions
                </th>
                <th scope="col" data-tablesaw-sortable-col>
                  <span [satPopoverAnchor]='popover' (click)="popover.toggle()"
                    class="cursor-pointer d-none d-md-block">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Group_15035" data-name="Group 15035" width="4"
                      height="20" viewBox="0 0 4 20">
                      <circle id="Ellipse_572" data-name="Ellipse 572" cx="2" cy="2" r="2" fill="#fff" />
                      <circle id="Ellipse_573" data-name="Ellipse 573" cx="2" cy="2" r="2" transform="translate(0 8)"
                        fill="#fff" />
                      <circle id="Ellipse_574" data-name="Ellipse 574" cx="2" cy="2" r="2" transform="translate(0 16)"
                        fill="#fff" />
                    </svg>
                  </span>
                  <sat-popover #popover hasBackdrop verticalAlign="below" horizontalAlign="end">
                    <div class="search">
                      <app-search-popup></app-search-popup>
                    </div>


                  </sat-popover>
                  <span class="cursor-pointer d-block d-md-none">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Group_15035" data-name="Group 15035" width="4"
                      height="20" viewBox="0 0 4 20" (click)="showpopUpSearch()">
                      <circle id="Ellipse_572" data-name="Ellipse 572" cx="2" cy="2" r="2" fill="#fff" />
                      <circle id="Ellipse_573" data-name="Ellipse 573" cx="2" cy="2" r="2" transform="translate(0 8)"
                        fill="#fff" />
                      <circle id="Ellipse_574" data-name="Ellipse 574" cx="2" cy="2" r="2" transform="translate(0 16)"
                        fill="#fff" />
                    </svg>
                  </span>
                </th>

              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let element of tableSawData">
                <td>
                  {{element.Indicator}}
                </td>
                <td>
                  {{element.RulesofIndicator}}
                  <span [satPopoverAnchor]="p" (click)="p.toggle()" class="mx-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.199" height="14.199" viewBox="0 0 14.199 14.199">
                      <path id="Path_14300" data-name="Path 14300"
                        d="M7.81,10.649H6.39V6.39H7.81ZM7.1,0A7.1,7.1,0,1,1,0,7.1,7.12,7.12,0,0,1,7.1,0Zm0,12.779A5.68,5.68,0,1,0,1.42,7.1,5.7,5.7,0,0,0,7.1,12.779Zm.71-7.81H6.39V3.55H7.81Z"
                        fill="#bbc8ce" />
                    </svg>
                  </span>
                  <sat-popover #p horizontalAlign="center" verticalAlign="above">
                    <div class="info-wrapper bg-color-white">
                      <h1 class="font-12 font-weight-meduim">Indicators required monthly</h1>
                      <p class="font-12 font-weight-regular m-0">
                        The value of the quarterly
                        indicaror is the value of the last
                        month of the same quarte.
                      </p>
                    </div>
                  </sat-popover>
                </td>
                <td>
                  {{element.Sector}}
                </td>
                <td>
                  {{element.Unit}}
                </td>
                <td>
                  {{element.Frequency}}
                </td>
                <td>
                  {{element.Nov}}
                </td>
                <td>
                  {{element.Dec}}
                </td>
                <td>
                  <button class="square-btn edit"
                    *ngIf="element.Status !== 'Waiting Approval' && element.Status !== 'Draft'">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" width="17.582"
                        height="16.879" viewBox="0 0 17.582 16.879">
                        <g id="edit" transform="translate(0 0)">
                          <rect id="Rectangle_2814" data-name="Rectangle 2814" width="17.582" height="16.879"
                            fill="#1cced8" opacity="0" />
                          <path id="Path_9540" data-name="Path 9540"
                            d="M14.977,6.4,13.024,4.444a1.426,1.426,0,0,0-1.9-.05L4.712,10.81a1.426,1.426,0,0,0-.406.863L4,14.646a.711.711,0,0,0,.713.777h.064l2.973-.271a1.426,1.426,0,0,0,.863-.406L15.027,8.33A1.369,1.369,0,0,0,14.977,6.4ZM7.62,13.726l-2.139.2.192-2.139L9.7,7.809l1.925,1.925Zm4.933-4.947L10.643,6.868l1.39-1.426,1.946,1.946Z"
                            transform="translate(-1.248 -1.28)" fill="#1cced8" />
                        </g>
                      </svg>
                    </span>
                  </button>
                </td>
                <td>

                </td>
              </tr>

            </tbody>
          </table>
          <div class="btns d-flex justify-content-center justify-content-md-end">
            <button class="button-secondary statistics-btn" (click)="statistics()"><span>Statistics</span></button>
            <button class="button-primary export-btn"><span>Export</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
