html {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'BetaSTC', serif;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    -webkit-box-shadow: none;
    border: 0px solid #d8d8d8;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.hub-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 70px;
    @media (max-width: 768px) {
        padding: 0 30px;
    }
}

.h-55 {
    height: 55px !important;
}

.h-40 {
    height: 40px !important;
}

.general-box {
    border: 1px solid $light-gray;
}

.section-m {
    margin: 30px 0;
}

highcharts-chart {
    overflow: visible !important;
    width: 100%;
    flex: 1 1 auto;
}


/*
.line-height-1 {
  line-height: 1;
}

.cursor-pointer {
  cursor: pointer;
}

button.mat-flat-button,
button.mat-button,
.mat-menu-panel {
  border-radius: 0 !important;
}

.mat-form-field {
  line-height: 1.5 !important;
}

img {
  max-width: 100%;
}

.first-form-input {
  border-top-color: rgba(0, 0, 0, 0.42) !important;
}

.dialog-close-btn {
  &.mat-button {
    padding: 0;
    min-width: 36px;

    img {
      width: 24px;
    }
  }
}

.border-bottom {
  border-color: #cccccc;
}

.min-vh-60 {
  min-height: 60vh;
}

.no-boxshadow {
  box-shadow: none !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.divider {
  border: 0.5px solid $silver;
  width: 100%;
  display: block;
  margin: 1rem 0;
}

.font-weight-medium {
  font-weight: 500;
}

.card-container {
  display: flex;

  .side-border {
    width: 10px;
    background-color: $primary-purple;
  }
}

.image-editor-dialog-container {
  .mat-dialog-container {
    background: transparent;
    box-shadow: none;
  }
}

.text-decoration-underline {
  text-decoration: underline;
}

.horizontal-divider {
  width: 1px;
  height: 100%;
  margin: 0 15px;
}

.custom-bordered-select {
  border: 2px solid $dark-gray;
  color: $dark-gray;

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .mat-form-field-flex {
    align-items: flex-end;
  }

  .mat-select-value {
    color: $dark-gray !important;
  }

  .mat-form-field-infix {
    width: 25px;
    padding: 0 !important;
    margin: 0 !important;
    border-top: 0;
  }

  .mat-form-field-underline {
    display: none;
  }
}
*/

.loading-bg {
    height: 30px;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #eeeeee85), color-stop(37%, #e6e6e6), color-stop(63%, #eeeeee8f));
    background: linear-gradient(90deg, #eeeeee85 25%, #e6e6e6 37%, #eeeeee8f 63%);
    background-size: 400% 100%;
    -webkit-animation: loading-background 1.4s ease infinite;
    animation: loading-background 1.4s ease infinite;
    width: 100%;
}

@keyframes loading-background {
    0% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@include media-breakpoint-down(sm) {
    .hub-container {
        padding: 0 10px;
    }
    .mat-sidenav {
        width: 100% !important;
    }
}

@include colors-bg-text;
