@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@include media-breakpoint-down(sm) {
    .mobile-popup {
        width: 100%;
        max-width: 100% !important;
        height: 90%;
        bottom: 0 !important;
        position: absolute !important;
        border-top-right-radius: 24px !important;
        .mat-dialog-container {
            border-top-right-radius: 30px !important;
            border-top-left-radius: 30px !important;
            overflow: hidden !important;
        }
    }
    .add-case-mobile-popup {
        width: 100%;
        max-width: 100% !important;
        height: 100%;
        bottom: 0 !important;
        position: absolute !important;
        border-top-right-radius: 24px !important;
        .mat-dialog-content {
            max-height: 75vh;
        }
        .mat-dialog-container {
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            overflow: hidden !important;
        }
    }
    .mobile-dialog {
        width: 100% !important;
        max-width: 100% !important;
        height: 100% !important;
    }
}