
.primary-table {
  width: 100%;
  min-width: 100%;

  thead tr {
    th {
      font-size: 1.1rem;
      font-weight: $font-medium;
      color: $white;
      background-color: $primary-purple;
      padding: 12px;
      //text-align: center;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $light-gray2;
      }

      td {
        font-size: 1rem;
        font-weight: $font-medium;
        border: none;
        //text-align: center;
        padding: 12px;
      }
    }
  }

  tr.detail-row {
    height: 0;
    background-color: $white !important;

    td {
      padding: 0 !important;
    }
  }


  tr.element-row:not(.expanded-row) {
    .minus-icon {
      display: none;
    }

    .plus-icon {
      display: inline;
    }
  }

  tr.element-row.expanded-row {
    .minus-icon {
      display: inline;
    }

    .plus-icon {
      display: none;
    }
  }


  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    padding: 0 80px;
  }
}

[dir=rtl] .primary-table th.mat-header-cell {
  text-align: center;
}

.collapsible-table {
  tbody {
    tr.mat-row.element-row:nth-child(even) {
      background-color: $light-gray !important;
    }
  }
}




[dir=rtl] {
  :host {
    table {
      tr {
        th,
        td {
          text-align: right;
        }
      }
    }
  }
}


