.popup-close-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  border: none;
}

.mat-dialog-content{
  border-top: 1px solid $light-gray;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  //max-height: initial !important;
}

//.mat-dialog-container{
//  height: auto !important;
//}
.mat-dialog-actions{
  background-color: $white;
  margin-bottom: 0 !important;
  button{
    min-width:175px;
  }
}

.sidenav-popup{
  width: 500px;
  position: fixed !important;
  right: 0;
  height: 100vh !important;
  transform: translate(500px, 0) !important;
  .mat-dialog-container{
    padding: 0 !important;
    .mat-dialog-content{
      max-height: calc(100vh - 124px);
    }
  }
}

.cdk-global-overlay-wrapper{
  .sidenav-popup{
    transform: translate(0, 0) !important;

  }
}

.mat-drawer-container{
  z-index: auto !important;
  background-color: transparent !important;
}
//.mat-sidenav{
//  z-index: 999 !important;
//}
.sidenav-content {
  width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .sidenav-header {
    padding: 1rem;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #F3F3F1;
  }

  .sidenav-body {
    flex-grow: 1;
    overflow-y: auto;
  }

  .sidenav-footer{
    padding: 1rem;
  }
}

@include media-breakpoint-down(sm){
  .mat-dialog-actions{
    button{
      min-width:145px;
    }
  }
  //.sat-popover-container {
  //  width: 100%;
  //  position: fixed;
  //  transform: none;
  //  top: 0;
  //  bottom: 0;
  //  height: 100%;
  //  left: 0;
  //  right: 0;
  //
  //  .add-stage-popover {
  //    height: 100%;
  //  }
  //}
}
